{% extends 'base.html' %}
{% block content %} 

<!--#5.  create the links to database so data can render 4-19-2021-->
<h2>{{meetingDetail.MeetingTitle}}</h2>
<p>Meeting Date: {{meetingDetail.MeetingDate}}</p>
<p>Meeting Time: {{meetingDetail.MeetingTitle}}</p>
<p>Meeting Location: {{meetingDetail.MeetingLocation}}</p>
<p>Meeting Agenda: {{meetingDetail.Agenda}}</p>
<h2>{{meetingDetail.meetingTitle}}</h2>




{% endblock %} 

<!-- #6. go and make meetings.php page so that we can link to this page 4-19-2021 -->